{% extends "base.html" %}

{% block content %}
    <!-- Slider Start -->
	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-xl-7">
					<div class="block">
						<div class="divider mb-3"></div>
						<span class="text-uppercase text-sm letter-spacing ">Total Health care solution</span>
						<h1 class="mb-3 mt-3">Sistem Pakar Diagnosis Penyakit Infeksi Parasit</h1>

						<p class="mb-4 pr-5">Kami membantu Anda untuk melakukan diagnosis awal penyakit yang
							disebabkan oleh Infeksi Parasit menggunakan Sistem Pakar. Lakukan Diagnosis dini
							sekarang</p>
						<div class="btn-container ">
							<a href="/konsultasi" class="btn btn-main-2 btn-icon btn-round-full">Lakukan
								Diagnosis <i class="icofont-simple-right ml-2  "></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="features">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="feature-block d-lg-flex">
						<div class="feature-item mb-5 mb-lg-0">
							<div class="feature-icon mb-4">
								<i class="icofont-surgeon-alt"></i>
							</div>
							<span>24 Hours Service</span>
							<h4 class="mb-3">Online Appoinment</h4>
							<p class="mb-4">Get ALl time support for emergency.We have introduced the principle
								of family medicine.</p>
							<a href="appoinment.html" class="btn btn-main btn-round-full">Make a appoinment</a>
						</div>

						<div class="feature-item mb-5 mb-lg-0">
							<div class="feature-icon mb-4">
								<i class="icofont-ui-clock"></i>
							</div>
							<span>Timing schedule</span>
							<h4 class="mb-3">Working Hours</h4>
							<ul class="w-hours list-unstyled">
								<li class="d-flex justify-content-between">Sun - Wed : <span>8:00 - 17:00</span>
								</li>
								<li class="d-flex justify-content-between">Thu - Fri : <span>9:00 - 17:00</span>
								</li>
								<li class="d-flex justify-content-between">Sat - sun : <span>10:00 -
										17:00</span></li>
							</ul>
						</div>

						<div class="feature-item mb-5 mb-lg-0">
							<div class="feature-icon mb-4">
								<i class="icofont-support"></i>
							</div>
							<span>Emegency Cases</span>
							<h4 class="mb-3">1-800-700-6200</h4>
							<p>Get ALl time support for emergency.We have introduced the principle of family
								medicine.Get Conneted with us for any urgency .</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section about">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 text-center">
					<h1>Pertanyaan Seputar Penyakit Infeksi Parasit</h1>
					<h5 class="px-5">Infeksi tidak cuma disebabkan oleh bakteri atau virus. Makhluk mikroskopik lainnya bernama
						parasit juga bisa bikin kita sakit. Apa saja yang harus Anda ketahui tentang infeksi
						parasit?</h5>
				</div>
				<div class="col-12">
					<div class="m-4">
						<div class="accordion" id="myAccordion">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<button type="button" class="accordion-button collapsed"
										data-bs-toggle="collapse" data-bs-target="#collapseOne">1. Apa itu
										Penyakit Infeksi Parasit?</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse"
									data-bs-parent="#myAccordion">
									<div class="card-body p-3 text-justify">
										<p>Parasit adalah organisme mikroskopik yang hidup
											bergantung pada organisme spesies lain dengan cara mengambil
											persediaan nutrisi dari tubuh inang tersebut.

											Beberapa di antaranya tidak terlalu memengaruhi inang mereka.
											Jenis yang lain dapat tumbuh dan bereproduksi liar hingga
											menyerang sistem organ yang membuat inang mereka sakit. Inilah
											yang disebut dengan infeksi parasit.

											Infeksi parasit adalah masalah kesehatan serius di negara-negara
											subtropis dan tropis, seperti Indonesia. Cacingan dan
											toxoplasmosis (toksoplasma) adalah contoh jenis penyakit infeksi
											parasit yang cukup umum di Indonesia, sementara malaria adalah
											salah satu yang paling mematikan.</p>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo">
									<button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
										data-bs-target="#collapseTwo">2. Jenis-jenis parasit yang biasa
										menyebabkan infeksi?</button>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse"
									data-bs-parent="#myAccordion">
									<div class="card-body">
										<div class="p-3" data-size="small">
											<p>Ada 3 jenis parasit yang bisa menginfeksi tubuh Anda, yaitu:
											</p>
											<h3>1. Protozoa</h3>
											<p>Protozoa adalah organisme bersel tunggal yang dapat hidup dan
												berkembang biak di dalam tubuh. Salah satu infeksi yang
												disebabkan oleh protozoa termasuk <a
													href="https://hellosehat.com/infeksi/infeksi-melalui-makanan/giardiasis/"
													data-event-label="https://hellosehat.com/infeksi/infeksi-melalui-makanan/giardiasis/"
													data-event-action="giardiasis."
													data-event-category="Internal Link Click on Article">giardiasis.</a>
												Giardiasis adalah infeksi serius yang biasanya muncul
												setelah Anda minum air yang terkontaminasi protozoa
												<i>Flagellata</i>.</p>
											<p>Selain itu, ada juga jenis-jenis protozoa lainnya, seperti:
											</p>
											<ul>
												<li><i>Amoeba, </i>penyebab penyakit amebiasis</li>
												<li><i>Siliofora, </i>penyebab penyakit balantidiasis</li>
												<li><em>Sporozoa</em>, penyebab penyakit kriptosporidiosis
													dan toxoplasmosis</li>
											</ul>
											<h3>2. Cacing</h3>
											<p>Cacing adalah organisme multisel yang dapat hidup di dalam
												atau di luar tubuh Anda. Kebanyakan cacing hidup di usus,
												antara lain seperti:</p>
											<ul>
												<li>Cacing Pipih</li>
												<li>Cacing Pita</li>
												<li>Cacing Kremi</li>
												<li>Cacing Gelang</li>
												<li>Cacing Tambang</li>
											</ul>

											<h3>3. Ektoparasit</h3>
											<p>Ektoparasit adalah organisme bersel banyak yang disebarkan
												oleh serangga atau arachnida, seperti nyamuk, kutu, dan
												tungau yang bertindak sebagai inang pembawa penyakit.

												Contok kasus ektoparasit adalah malaria yang disebarkan oleh
												nyamuk Anopheles pembawa parasit Plasmodium. Ektoparasit ini
												dapat berpindah ke manusia saat nyamuk tersebut menggigit
												kulit untuk mengisap darah.

												Berikut adalah contoh-contoh lain dari ektoparasit:</p>
											<ul>
												<li><i>Pediculus humanus capitus</i> atau kutu rambut</li>
												<li><i>Pthirus pubis</i> atau kutu pada kulit kemaluan</li>
												<li><i>Sarcoptes scabiei</i>, tungau yang mengakibatkan penyakit kulit skabies atau kudis</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingThree">
									<button type="button" class="accordion-button collapsed"
										data-bs-toggle="collapse" data-bs-target="#collapseThree">3. ...?</button>
								</h2>
								<div id="collapseThree" class="accordion-collapse collapse"
									data-bs-parent="#myAccordion">
									<div class="card-body">
										<p></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
{% endblock %}